Google Palm LLM & API key setup

In [4]:
from langchain.llms import GooglePalm

api_key = 'AIzaSyDlXYnP2xNNa0DNa7dPN89u2L4IuAchEg4'

llm = GooglePalm(google_api_key=api_key, temperature=0.2)

In [5]:
llm("Write me something about albert einstein")

"Albert Einstein was a German-born theoretical physicist who developed the theory of general relativity, one of the two pillars of modern physics (alongside quantum mechanics). His work on special relativity led to the formulation of massâ€“energy equivalence, E=mc2, and he made several important contributions to quantum mechanics. Einstein's work has had a profound impact on physics, and he is widely regarded as one of the most influential scientists of all time.\n\nEinstein was born in Ulm, Germany, on March 14, 1879. He showed a talent for mathematics and physics at an early age, and he enrolled at the Swiss Federal Polytechnic School in Zurich in 1896. After graduating, he worked as a patent clerk in Bern, Switzerland, from 1902 to 1909. During this time, he developed his theory of special relativity, which he published in 1905.\n\nIn 1909, Einstein was appointed professor of theoretical physics at the University of Zurich. In 1914, he moved to the Prussian Academy of Sciences in Berlin, where he remained until 1933. During his time in Berlin, Einstein developed the theory of general relativity, which he published in 1915.\n\nIn 1933, Einstein fled Nazi Germany and settled in the United States, where he became a professor at the Institute for Advanced Study in Princeton, New Jersey. He remained at the Institute until his death in 1955.\n\nEinstein's work has had a profound impact on physics, and he is widely regarded as one of the most influential scientists of all time. His theories of special and general relativity have revolutionized our understanding of space, time, and gravity. His work on quantum mechanics has also had a major impact on our understanding of the subatomic world.\n\nIn addition to his scientific achievements, Einstein was also a strong advocate for peace and social justice. He was a pacifist and a supporter of the Zionist movement. He also spoke out against nuclear weapons and war.\n\nEinstein's legacy is one of brilliance, creativity, and courage. He was a true visionary who changed the way we think about the universe."

Connect with database and ask some basic questions

In [6]:
from langchain.utilities import SQLDatabase
from langchain_experimental.sql import SQLDatabaseChain

In [38]:
db_user = "root"
db_password = "YASHraj222"
db_host = "localhost"
db_name = "teewaveDB"

db = SQLDatabase.from_uri(f"mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}")


print(db.table_info)

CREATE TABLE discounts (
	discount_id INTEGER NOT NULL AUTO_INCREMENT,
	t_shirt_id INTEGER NOT NULL,
	pct_discount DECIMAL(5, 2),
	PRIMARY KEY (discount_id),
	CONSTRAINT discounts_ibfk_1 FOREIGN KEY(t_shirt_id) REFERENCES t_shirts (t_shirt_id),
	CONSTRAINT discounts_chk_1 CHECK ((`pct_discount` between 0 and 100))
)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci

/*
3 rows from discounts table:
discount_id	t_shirt_id	pct_discount
1	1	10.00
2	2	15.00
3	3	20.00
*/


CREATE TABLE t_shirts (
	t_shirt_id INTEGER NOT NULL AUTO_INCREMENT,
	brand ENUM('Van Huesen','Levi','Nike','Adidas') NOT NULL,
	color ENUM('Red','Blue','Black','White') NOT NULL,
	size ENUM('XS','S','M','L','XL') NOT NULL,
	price INTEGER,
	stock_quantity INTEGER NOT NULL,
	PRIMARY KEY (t_shirt_id),
	CONSTRAINT t_shirts_chk_1 CHECK ((`price` between 10 and 50))
)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci

/*
3 rows from t_shirts table:
t_shirt_id	brand	color	size	price	stock_quantity
1	Nike	White	M	44	89
2	Adidas	Black	S	37	57
3	Nike	Black	XL	16	85
*/